<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header %>
    There are the URLs: <br>

    <ul>
      <% Object.keys(urls).forEach(x=>{ %>
        <li> <%=x%> → <%=urls[x]%>  <a href="/urls/<%=x%>">Modify</a>
          <form method="POST" action="/urls/<%=x%>/delete">
            <input type="submit" value="Delete">
          </form>
        </li>
      <% }) %>

      <!-- <li> <a href= <%= urls.asdf %> > <%= urls.asdf%> </a> </li>
      <li> <a href= <%= urls.sdfg %> > <%= urls.sdfg%> </a> </li> -->
    </ul>

    I can update this, right?
</body>
</html>