<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <div style="max-width: 800px; margin: auto;">
    <% include partials/_header %>

    <div>
      Make a new tiny<small>URL</small> <a href="/new">here</a>. <br><br>

      Your tiny<small>URL</small>s:

      <div>
        <%if (Object.keys(urls).length === 0) { %>
            You have no tinyURLs.
        <%}%>

        <ul style="list-style-type: none;">
          <% Object.keys(urls).forEach(x=>{ %>
            <li>
              <div style="width:75px; display: inline-block; text-align: left;">
                <%=x%>
              </div>
              <div style="width:300px; display: inline-block; text-align: left;">
                <% if (urls[x].link.length <= 35) { %>
                  → <a href="<%=urls[x].link%>"><%=urls[x].link%></a>
                <% } else { %>
                  → <a href="<%=urls[x].link%>"><%=urls[x].link.substr(0,32)%>...</a>
                <% } %>
              </div>

              <div style="display: inline-block;">
                <form action="/urls/<%=x%>" style="display: inline-block;">
                  <input type="submit" value="Modify">
                </form>
                <form method="POST" action="/urls/<%=x%>?_method=DELETE" style="display:inline-block;">
                  <input type="submit" value="Delete">
                </form>
              </div>
            </li>
          <% }) %>
        </ul>

      </div>

    </div>
  </div>
</body>
</html>